/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  color: var(--main-text-color, #000000);
  font-family: var(--main-font-family, "Inter", sans-serif);
  font-size: var(--main-font-size, 18px);
  background-image: var(--bg-image, repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom,#d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" (var(--main-font-weight, 400));
}

.header {
  margin: auto;
  margin-block: 100px;
  padding-block: clamp(120px, 8.889vw + 1.5rem, 128px);
  font-family: var(--accent-font-family, "PressStart2P", monospace);
  text-align: center;
}

.card {
  border: 2px solid var(--border-color, #000000);
  background-color: var(--bg-color, #ffffff);
  inline-size: var(--card-width, clamp(375px, 90vw, 700px));
}

.header__logo {
  font-size: clamp(3.0625rem, 5vw, 4.0625rem);
}

.header__title {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6798rem + 0.8419vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card__item {
  list-style: none;
}

.card__title {
  border-block-end: 2px solid var(--border-color, #000000);
  padding-inline: 10px;
  padding-block: 5px 4px;
  font-variation-settings: "wght" var(--subtitle-font-weight, 700);
  line-height: 22px;
}

.card__image-container {
  position: relative;
  border-block-end: 2px solid var(--border-color, #000000);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.sepia-filter {
  filter: sepia(1.2);
}

.grayscale-filter {
  filter: grayscale(1);
}

.contrast-filter {
  filter: contrast(1.9);
}

.hue-rotate-saturate-filter {
  filter: hue-rotate(95deg) saturate(1.7);
}

.brightness-filter {
  filter: brightness(1.2);
}

.invert-saturate-filter {
  filter: invert(0.8) saturate(1.5);
}

.blur-filter {
  filter: blur(3.3px);
}

.hue-rotate-opacity-filter {
  filter: hue-rotate(290deg) opacity(0.8);
}

.card__label {
  position: absolute;
  top: clamp(22px, 4vw + 0.4rem, 25px);
  right: clamp(11px, 2vw + 0.1rem, 25px);
  font-family: var(--accent-font-family, "PressStart2P", monospace);
  font-size: var(--small-font-size, 14px);
  text-shadow: -1px 0 var(--text-stroke-color, #ffffff),
    0 1px var(--text-stroke-color, #ffffff),
    1px 0 var(--text-stroke-color, #ffffff),
    0 -1px var(--text-stroke-color, #ffffff);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color, #ffffff)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color, #ffffff))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #ffffff);
    text-stroke: 1px var(--text-stroke-color, #ffffff);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block: 25px;
  padding-inline: 25px;
  line-height: 21px;
}

.card__button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  max-block-size: 38px;
}

.button {
  position: relative;
  border: 2px solid var(--border-color, #000000);
  font-family: var(--accent-font-family, "PressStart2P", monospace);
  font-size: var(--small-font-size, 14px);
  background-color: var(--bg-color, #ffffff);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  transition: border 0.3s ease;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color, #000000);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--accent-text-color, #ffffff);
  font-weight: var(--main-font-weight, 400);
  text-align: center;
  mix-blend-mode: difference;
}

.dialog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-block-end: clamp(100px, 0.3vw + 98.9px, 103px);
  inline-size: 339px;
  block-size: 55px;
}

.floppy-icon {
  position: relative;
  z-index: 2;
  fill: var(--accent-text-color, #ffffff);
  mix-blend-mode: difference;
}

.dialog-block {
  border: 2px solid var(--border-color, #000000);
  padding-inline: 30px;
  font-family: var(--accent-font-family, "PressStart2P", monospace);
  line-height: 21px;
  text-transform: uppercase;
  max-inline-size: 355px;
}

.dialog-block[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  align-content: start;
  gap: 30px 20px;
  padding-block: 28px;
}

.dialog-block[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

body:has(.dialog-block[open]) {
  overflow: hidden;
}

.dialog__text {
  font-size: var(--small-font-size, 14px);
  }

.dialog-form {
  grid-column: span 2;
}

.close-button {
  text-transform: uppercase;
  block-size: 40px;
  inline-size: 100%;
}

@media (width <= 375px) {
  .card {
    --card-width: 100vw;
    inline-size: var(--card-width, 100vw);
  }

  .dialog-button {
    flex-direction: column;
    margin-block-end: clamp(100px, 0.3vw + 98.9px, 103px);
    inline-size: 310px;
    block-size: 82px;
  }

  .floppy-icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .dialog-block {
    padding-inline: 40px;
  }

  .dialog-block[open] {
    max-inline-size: 341px;
  }
}
